
/* Styles for NGI Internal Dashboard */

/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700); */
body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    background-color: #f2f2f2;
}
.header-logo img, .header-logo h1 {
    float: left;
}
.header-logo h1 {
    margin-left: 20px;
}
.header-logo a {
    color: #333;
    text-decoration: none;
}

h1 {
    margin-top: 25px;
    font-weight: 300;
}
h2 {
    font-weight: 400;
}
h2 small {
    font-weight: 300;
    margin-left: 15px;
}
h3 {
    text-align: center;
    font-weight: 400;
}

header {
    font-weight: 300;
}
.mainrow {
    background-color: #fff;
}
footer img {
    padding: 15px;
    margin-top: 5px;
    height: 100px;
}

.dashboard-timestamps {
    margin: 40px 0 0 20px;
    float:left;
}
.dashboard-timestamps span {
    margin-left: 10px;
}

.external_plot {
    margin-top: 20px;
}

.coming_soon {
    background-color: #f2f2f2;
    border: 1px dashed #ccc;
    line-height: 400px;
    height: auto !important;
    padding: 20px !important;
    margin: auto 0;
    text-align: center;
    font-weight: 700;
    color: rgba(0,0,0,0.2);
    font-size: 26px;
}
.tat_plot.coming_soon { margin: 15px 0; }
.queue_plot.coming_soon { margin: 22px 0; }
.balance_plot.coming_soon { margin: 22px 0; }
.success_plot.coming_soon { margin: 35px 0; }


.mid-left p {
    font-size: 16px;
}
.container-fluid > .row {
    border-bottom: 1px solid #999;
}
.middle-row > div {
    padding: 15px 15px 20px;
}

.server-statuses {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    text-align: right;
    font-size: 18px;
}
.server-statuses li {
    padding: 5px;
    margin: 3px;
    float: right;
    width: 120px;
    display: inline-block;
}
.server-statuses li .glyphicon {
    top: 2px;
    color: #999999;
}
.server-statuses li.success .glyphicon { color: #3c763d; }
.server-statuses li.warning { background-color: #faebcc; }
.server-statuses li.warning .glyphicon { color: #8a6d3b; }
.server-statuses li.danger { background-color: #f7c8c4; }
.server-statuses li.danger .glyphicon { color: #a94442; }

.queue_plot {
    padding: 5px 0 8px;
    height: 112px;
}
.balance_plot {
    height: 100px;
}
#rc_finished_balance_wrapper {
    border: 1px solid #ccc;
    padding: 5px 5px 5px 15px;
    margin-left: -16px;
    margin-right: -6px;
}
#rc_finished_balance_wrapper span {
    display:inline-block;
    position: absolute;
    left: -10px;
    line-height: 90px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
